#plx {
    background: url(../tavern.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wtitle {
    padding: 250px 50px;

}