{% extends 'base.html' %}

{% block content %}

<main role="main" class="bg-dark">


    <div class="container bg-light">
        <h1 class="text-center pt-3">Our Games</h1>

        <ul class="nav nav-pills nav-justified red" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-2p-tab" data-toggle="pill" href="#pills-2p" role="tab" aria-controls="pills-home" aria-selected="true">2 Jugadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-3p-tab" data-toggle="pill" href="#pills-3p" role="tab" aria-controls="pills-3p" aria-selected="false">3 Jugadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-4p-tab" data-toggle="pill" href="#pills-4p" role="tab" aria-controls="pills-4p" aria-selected="false">4+ Jugadores</a>
            </li>
        </ul>
        <br>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-2p" role="tabpanel" aria-labelledby="pills-2p-tab">
                {% for game in player2 %}
                <a href="{% url 'game_detail' game.name %}"><h3>{{ game.name }}</h3></a>
                <br />
                <img class="img-fluid" src="{{ game.image.url }}" height=200 width=200 />
                <br />
                <p> Players: {{ game.players }}</p>
                <p>{{ game.summary }}</p>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-3p" role="tabpanel" aria-labelledby="pills-3p-tab">
                {% for game in player3 %}
                <a href="{% url 'game_detail' game.name %}"><h3>{{ game.name }}</h3></a>
                <br />
                <img class="img-fluid" src="{{ game.image.url }}" height=200 width=200 />
                <br />
                <p> Players: {{ game.players }}</p>
                <p>{{ game.summary }}</p>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-4p" role="tabpanel" aria-labelledby="pills-4p-tab">
                {% for game in player4 %}
                <a href="{% url 'game_detail' game.name %}"><h3>{{ game.name }}</h3></a>
                <br />
                <img class="img-fluid" src="{{ game.image.url }}" height=200 width=200 />
                <br />
                <p> Players: {{ game.players }}</p>
                <p>{{ game.summary }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


</main>
{% endblock %}