{% extends 'base.html' %}

{% block content %}

<main role="main">
    <br>
    <div class="container">
        <h1 class="text-center pt-3">{{ game.name }}</h1>
        <br>
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{{ game.image.url }}"  />
            </div>
            <div class="col">
                <h5> Categoría de Juego: {{ game.category }}</h5>
                <h5> Jugadores Recomendados: {{ game.players }}</h5>
                <h5> Inventario de Préstamo: {{ game.stock }}</h5>
                <h5> Tiempo de Juego: {{ game.playtime }}</h5>
                <br>
                <p>{{ game.description }}</p>
            </div>
        </div>
        <br />
        <br />

    </div>
</main>

{% endblock %}
