{% extends 'base.html' %}

{% block content %}

<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">{{ game.name }}</h1>
        <h3> Categoría de Juego: {{ game.category }}</h3>
        <h3> Jugadores Recomendados: {{ game.players }}</h3>
        <h3> Inventario de Préstamo: {{ game.stock }}</h3>
        <h3> Tiempo de Juego: {{ game.playtime }}</h3>
        <img class="img-fluid" src="{{ game.image.url }}"  />
        <br />
        <br />
        <p>{{ game.description }}</p>
    </div>
</main>

{% endblock %}
